
html {
  background-color: #E7E0C9;
  min-height: 1000px;
  font-family: 'helvetica';
}

h1,h2 {
  color: #11324D;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #C1CFC0;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #6B7AA1;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b2a4a4;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #b2a4a4;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #666666;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #11324D;
  color: #6B7AA1;
  font-size: 32px;
  font-weight: bolder;
  padding-bottom: 2px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #333333;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: #333333;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
