</br>
</br>  
<footer>
    <div id="icons">
        <ul>
            <li><i class="fab fa-facebook"><a href="#"></a></i></li>
            <li><i class="fab fa-twitter"><a href="#"></a></i></li>
            <li><i class="fab fa-instagram"><a href="#"></a></i></li>
            <li><i class="fas fa-envelope"><a href="#"></a></i></li>
        </ul>
      <p>1932 Vintage Cafe © Copyright 2021</p>
    </div>
  </footer>
</body>
</html>