<!doctype html>
<html>

<head>
  <title><%=day%> - To do list</title>
  <link rel="stylesheet" href="todo-style.css">
</head>

<body>
  <div class="box" id="heading">
    <%  if (day === "Saturday" || day === "Sunday") {  %>
    <h1>Today is</h1>
    <h1><%=day%></h1>
    <h2>It's weekend, get some rest!</h2>
    <%  } else {  %>
    <h1>Today is</h1>
    <h1><%=day%></h1>
    <h2>To-Do List</h2>
    <%  } %>

  </div>

  <div class="box">
    <form class="item" action="/" method="post">
      <input class="" type="text" name="newItem" placeholder="Add here your new item to-do." />
      <button type="submit" name="button">+</button>
    </form>

    <% for (var i=0; i<newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox" />
      <p><%= newListItems[i] %>    </p>
    </div>
    <% } %>
  </div>

</body>

</html>
